#root {
  text-align: center;
    width: 100%;
    height: 100vh;
    font-family: Raleway, sans-serif;
    overflow-x: hidden;
    font-weight: 300;
}

.app {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advisor {
    display: flex;
    background: #33333A;
    flex-direction: row;
    justify-content: space-around;
    height: 2.5em;
    color: #fff;
    width: 100%;
    align-items: center;

}

.advlimit {
    display: flex;
    justify-content: space-between;
    width: 85%;
    height: 100%;
    align-items: center;

}

.advisor button {
    background: #fff;
    height: 100%;
    width:10rem;
    color: #33333A;
    border-radius: 0;
    font-weight: 700;
    font-size: .8rem;
    border: none;
}

.advisor p {
    font-family: Raleway, sans-serif;
    font-size: .79rem;
}

.navbar {
    display: flex;
    width:100%;
    height: 5rem;
    background: #161616;
    align-items: center;
    justify-content: center;
}

.navlimit {
    display: flex;
    justify-content: space-between;
    width: 85%;
    align-items: center;
}
.navbar img {
    object-fit: contain;
    vertical-align: middle;
    width: 9rem;
    height:7rem;

}
ul li {
    color: #fff;
    display: inline-block;
    padding: 1rem;
    font-size: .8rem;

}

ul li:first-child {
    font-weight: 700;
}

.actionbtns {
    display: flex;
    justify-content: end;
    gap: 1.5rem;
    align-items: center;
    width: 100%;
}

form {
    display: flex;
    border-radius: 4px;
    overflow: hidden;
    background: #fefefe;
    border: 1px solid gray;
}

input[type='search'] {
    border: 1px solid transparent;
    padding-left: 6px;
    outline: none;
    background: transparent;
    margin: 0;
    color: gray;
}

button[type='submit']{
    cursor: pointer;

    border-radius: 0;
    border: none;
    background: transparent;
}

input[type='search']::placeholder {
    font-family: Raleway, 'sans-serif';
}

button[type='submit'] img {
    width: 1rem;
    height: auto;
}

.fav, .bag {

    background: transparent;
    border: none;
    padding: 0;
}

.fav img {
    width: 1.3rem;
    height: auto;
}


.bag img{
    width: .8rem;
    height: auto;
}

.actionbtns a{
    text-decoration: none;
    color: #fff;
    font-size: .78rem;
}

.pipe {
    font-size: 2rem;
    color: #fff;
    font-weight: lighter;
}

.heading {
    width: 85%;
    font-weight: 500;
    font-size: .8rem;
    margin-top: .1rem;
    color: #000;
}

.sildes {
    width: 85%;
}


.swiper-pagination-bullet-active {
    background: #000 !important;
}

.swiper-pagination-bullet {

    display: block;
    background: #000 !important;
}
select {
    color: #fff;
    border: 0;
    background: transparent;
    font-weight: inherit;
}


.grid {
    display: flex;
    justify-content:space-between;
    width: 85%;
    margin-top: 2rem;
    height: 31rem;
}

.grid .col1 {
    display: flex;
    width: 30%;
    background: url('./imgs/brecho-de-luxo-acessorios.webp');

    background-size: 100%;
}

.grid .col2 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 68.5%;

}

.grid .col2 .line1 {
    display: flex;
    justify-content:space-between;
    width: 100%;
    height: 48%;
}

.col1, .blk1, .line2 {
    align-items: flex-end;
    justify-content: flex-end;
    color: #fff;
    font-weight: 600;
}

.grid .col2 .line1 .blk1 {
    display: flex;
    width: 56%;
    height: 100%;
    background: url('./imgs/brecho-de-luxo-bolsas.webp');
    
}

.grid .col2 .line1 .blk2 {
    display: flex;
    width:42%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    height:100%;
    background: #dda248;
    color: #fff;

}
.box-content {
    font-size: .9rem;
    padding: 10px;
}
.box-title {
    font-size: 1.7rem;
    line-height: 2rem;
}

.grid .col2 .line2 {
    display: flex;
    position: relative;
    height: 49%;
    background: url('./imgs/brecho-de-luxo-roupas.webp') no-repeat;
    background-size: contain;
}

.tag {
    background: #000; 
    padding: 3rem;
    padding-block: 12px;
   
}
